@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background-color: #2d87f0;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 40px; /* Set a fixed width */
  height: 40px; /* Set a fixed height */
}

.button svg {
  margin: 2px;
}

.button:hover {
  background-color: #1a5eaf;
}

.clients-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  align-content: center;
}

.report-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 10px;
  width: 380px;
  margin: 0 auto;
  position: relative;
}

.edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.remove-button {
  position: absolute;
  top: 10px;
  right: 30px;
  background: none;
  border: none;
  cursor: pointer;
}


.edit-button svg {
  width: 21px;
  height: 21px;
  color: #2d87f0;
}

.add-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  background-color: #2d87f0;
  color: white;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 21px; /* Set a fixed width */
  height: 21px; /* Set a fixed height */
}
.add-button svg {
  margin: 2px;
}

.remove-button svg {
  width: 21px;
  height: 21px;
  color: #f03d2d;
}

.edit-button:hover svg {
  color: #1a5eaf;
}

.client-title {
  writing-mode: vertical-rl;
  transform: translateY(-50%) rotate(180deg);
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #2d87f0;
  position: absolute;
  top: 50%;
}

.content {
  margin-left: 50px;
  /* Ensure content does not overlap with the rotated title */
}

.section {
  margin-bottom: 10px;
}

.section h2 {
  font-size: 14px;
  margin-bottom: 5px;
}

.section ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.use-cases-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.use-case-card {
  background-color: #26d4464a;
  /* Background color */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 5p
}

.use-case-card p {
  margin: 1px 0;
  /* Reduced vertical spacing */
  font-size: 12px;
  color: #000;
  /* Text color */
}

.use-case-card strong {
  color: #000;
  /* Text color */
}

.editable-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 2px 5px;
  font-size: 12px;
  width: 100%;
  box-sizing: border-box;
}

.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  width: 100%;
}

.empty-state-content {
  text-align: center;
  color: #666;
}

.empty-state-content p {
  font-size: 1.2em;
  margin: 8px 0;
}

.toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.client-button {
  display: none;
}

.edit-mode .client-button {
  display: flex;
}

/* When edit mode is active */
.button.toggle-edit.edit-mode {
  background-color: #0001004a !important; /* Higher specificity */
  color: #1a5eaf;
}